<div class="container-fluid">
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <div class="col-xs">
      <h5>"{{selectedCategory.name}}" queue:</h5>
    </div>
  </div>

  <div class="row flex-items-xs-center flex-items-xs-middle">
    {{#each selectedCategory.videos as |video|}}
      <div class="col-xs-6 col-md-4 video-queue-image">
        {{#if (eq video.key model.id)}}
          <img src={{video.pictures.sizes.0.link}}
            class="circular active">
        {{else}}
          {{#link-to 'videos' video.key}}
            <img src={{video.pictures.sizes.0.link}} class="circular">
          {{/link-to}}
        {{/if}}
      </div>
    {{/each}}
    <hr>
  </div>
</div>
{{yield}}
