<div class="container-fluid">
  <div class="row flex-items-md-top">
    <div class="col-xs-12 col-md-9 video-description">
      <div class="row flex-items-xs-middle text-xs-center text-sm-left">
        <div class="col-xs-12 col-sm-2 col-lg-1">
          <img class="circular img-fluid" src="{{model.user.pictures.sizes.2.link}}" data-test="video-user-image">
        </div>
        <div class="col-sm-10 col-lg-11">
          <h2 data-test="video-title">{{model.name}}</h2>
          <h5>
            <a href="{{model.user.link}}" data-test="video-user-name">{{model.user.name}}</a>
            <small class="text-muted" data-test="video-created">
              {{moment-format model.created_date 'MM-DD-YYYY' "YYYY-MM-DD"}} at {{model.created_time}}
            </small>
          </h5>
        </div>
      </div>
      <div class="row flex-items-xs-right">
        <div class="col-xs-12 col-md-10 col-md-11">
          <div data-test="video-description">
            <p>{{model.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 video-queue">
      {{#if categoryService.isVimeauto}}
        {{vimeauto-queue
          flattenedVideosArr=categoryService.flattenedVideosArr
          model=model
          class="queue"}}
      {{else}}
        {{#each categoryService.selectedCategories as |selectedCategory|}}
          {{video-queue selectedCategory=selectedCategory model=model class="queue"}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
