<nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-inverse">
  {{link-to "Vime(auto)" 'index' class="brand"}}
  <span class="navbar-text float-xs-right align-middle text-white">
    {{#each categoryService.selectedCategories as |selectedCategory|}}
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-category"
          style={{selectedCategory.assignedColor}} data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"
          data-test="navbar-queue-category-name">
          {{selectedCategory.name}}
        </button>
        <button type="button" class="btn btn-remove"
          {{action "removeCategory" selectedCategory target=categoryService}}
          style={{selectedCategory.assignedColor}}
          data-test="navbar-queue-category-remove">
          {{fa-icon "times-circle"}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item"
             {{action "transitionToVideo" selectedCategory.videos.0.key}}
             href="#">Watch top featured</a>
          <a class="dropdown-item"
             {{action "transitionRandomVideo" selectedCategory.videos}}
             href="#">Mix it up</a>
          <hr>
          <a class="dropdown-item {{if (lt categoryService.selectedCategories.length 2) 'text-muted disabled'}}"
             {{action "transitionToVimeauto"}}
             href="#">
            Vimeauto a playlist
          </a>
        </div>
      </div>
    {{else}}
      <span class="text-muted" data-test="navbar-queue-no-category">
        You haven't added any categories yet!
      </span>
    {{/each}}
  </span>
</nav>
