<nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-inverse">
  {{link-to "Vime(auto)" 'index' class="navbar-brand"}}
  <span class="navbar-text float-xs-right align-middle text-white">
    {{#each categoryService.selectedCategories as |selectedCategory|}}
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn" style={{selectedCategory.assignedColor}}>{{selectedCategory.name}}</button>
        <button type="button" class="btn" {{action "removeCategory" selectedCategory target=categoryService}} style={{selectedCategory.assignedColor}}>
          {{fa-icon "times-circle"}}
        </button>
      </div>
    {{else}}
      You haven't added any categories yet!
    {{/each}}
  </span>
</nav>
