<nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-inverse">
  {{link-to "Vime(auto)" 'index' class="navbar-brand"}}
  <span class="navbar-text float-xs-right align-middle text-white">
    {{#each categoryService.selectedCategories as |selectedCategory|}}
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-category" style={{selectedCategory.assignedColor}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedCategory.name}}
        </button>
        <button type="button" class="btn btn-remove" {{action "removeCategory" selectedCategory target=categoryService}} style={{selectedCategory.assignedColor}}>
          {{fa-icon "times-circle"}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Watch featured</button>
          <button class="dropdown-item" type="button">Mix it up</button>
          <hr>
          <button class="dropdown-item" type="button">Vimeauto a playlist</button>
        </div>
      </div>
    {{else}}
      <span class="text-muted">You haven't added any categories yet!</span>
    {{/each}}
  </span>
</nav>
