<div id="carousel-trending" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators hidden-xs-down">
    {{#each trendings as |trending index|}}
      <li data-target="#carousel-trending-videos"
        class="{{if (eq trending trendings.firstObject) 'active'}}"
        data-slide-to={{index}} data-test="carousel-trending-count-{{index}}">
      </li>
    {{/each}}
  </ol>
  <div class="carousel-inner text-sm-right" role="listbox">
    {{#each trendings as |trending index|}}
      <div class="carousel-item {{if (eq trending trendings.firstObject) 'active'}}">
        <img src="{{trending.pictures.sizes.4.link}}"
          alt="{{trending.name}} picture"
          data-test="trending-slide-img-{{index}}">

        <div class="carousel-caption text-sm-left">
          <h3 data-test="trending-title-{{index}}">
            {{trending.name}}
          </h3>
          <p data-test="trending-user-{{index}}">
            {{trending.user.name}}
            {{#if trending.user.location}}
              <small class="text-muted" data-test="trending-location-{{index}}">
                &nbsp;- {{trending.user.location}}
              </small>
            {{/if}}
          </p>
          <div class="hidden-xs-down">
            {{#each trending.user.websites as |website siteIndex|}}
              <small>
                <a href="{{website.link}}"
                  data-test="trending-{{index}}-website-{{siteIndex}}">
                  {{website.link}}
                </a>
              </small>
              <br>
            {{/each}}
          </div>
          {{link-to "Watch now!" "videos" trending.videoId class="btn btn-primary btn-watch" tagName="button"}}
        </div>
      </div>
    {{/each}}
  </div>
  <a class="left carousel-control" href="#carousel-trending" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-trending" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
