<div id="carousel-trending" class="carousel slide" style="background:black" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each trendings as |trending index|}}
      <li data-target="#carousel-example-generic" class="{{if (eq trending trendings.firstObject) 'active'}}" data-slide-to={{index}}></li>
    {{/each}}
  </ol>
  <div class="carousel-inner text-sm-right" role="listbox">
    {{#each trendings as |trending|}}
      <div class="carousel-item {{if (eq trending trendings.firstObject) 'active'}}">
        <img src="{{trending.pictures.sizes.4.link}}" alt="{{trending.name}} picture">
        <div class="carousel-caption text-sm-left">
          <h3>{{trending.name}}</h3>
          <p>{{trending.user.name}}{{#if trending.user.location}}<small class="text-muted"> - {{trending.user.location}}</small>{{/if}}</p>
          {{#each trending.user.websites as |website|}}
            <small><a href="{{website.link}}">{{website.link}}</a></small><br>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
  <a class="left carousel-control" href="#carousel-trending" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-trending" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
